.fullpage-container {
  height: 100vh;
  width: 100%;

}



/* 각 섹션은 화면 전체 높이 */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* 섹션별 배경색 예시 */
.section1 {
  background-color: #ffffff; /* 파란색 */
}

.section2 {
  background-color: #ffffff;
}

.section3 {
  background-color: #ffffff;
}

.section4 {
  background-color: #ffffff;
}

.section5 {
  background-color: #ffffff;
}
