/* 전체 컨테이너 스타일 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* 팀원 카드 스타일 */
.team_member_card {
    background-color: white;
    
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* 카드 hover 효과 */
.team_member_card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(4, 124, 104, 0.493);
}





/* 아이콘 & 텍스트 정렬 */
p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: #555;
}

/* 반응형 디자인 - 모바일 */
@media (max-width: 768px) {
    .team_member_card {
        flex-direction: column;
        text-align: center;
    }

    .team_member_card img {
        width: 120px;
        height: 120px;
    }
}
