/* 
.grid-container {
    grid-template-areas: 
    "trun_left forward turn_right"
    "left stop right"
    "save backward delete";
    gap: 20px;
}

.forward{
    grid-area: forward;
}
.left{
    grid-area: left;
}

.stop{
    grid-area: stop;
}

.right{
    grid-area: right;
}

.backward{
    grid-area: backward;
}
 */
